<div class="mainpage__container">
  <form [formGroup]="flightSearchForm" (ngSubmit)="onFormSubmit()">
    <mat-radio-group formControlName="flightType" class="flight__type">
        <mat-radio-button color="primary" value="round-trip">Round Trip</mat-radio-button>
        <mat-radio-button color="primary" value="one-way">One Way</mat-radio-button>
    </mat-radio-group>

    <app-departure-from></app-departure-from>
    <app-destination></app-destination>

    <button type="button" mat-icon-button class="swap__btn" (click)="onSwapAirports()">
      <img src="../../../../assets/icons/swap_arrow_icon.svg" alt="icon-swap">
    </button>

    <app-date-round *ngIf="flightTypeValue === 'round-trip'"></app-date-round>
    <app-date-one *ngIf="flightTypeValue === 'one-way'"></app-date-one>

    <app-passengers></app-passengers>

    <button mat-raised-button color="primary" type="submit"
      [disabled]="!flightSearchForm.valid" class="search__btn">Search</button>
  </form>
</div>

