<button mat-icon-button class="close-button" mat-dialog-close>
    <mat-icon class="close-icon">close</mat-icon>
  </button>
<div mat-dialog-content class="auth__wrapper">
    <mat-tab-group class="group__container" mat-align-tabs="center" animationDuration="0ms" [selectedIndex] = "index">
        <mat-tab label="Sign In">
            <app-signin></app-signin>
        </mat-tab>
        <mat-tab label="Sign Up">
            <app-signup></app-signup>
        </mat-tab>
    </mat-tab-group>
</div>

