
@use "../../../../styles/colors";

::ng-deep .mat-mdc-tab.mdc-tab {
    border: 0.5px solid colors.$neutral-60;
    border-radius: 4px;
}

::ng-deep.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
    font-family: 'Roboto';
    font-style: normal;
    color: colors.$primary;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1px;
}

::ng-deep .mat-mdc-tab .mdc-tab__text-label {
    font-family: 'Roboto';
    font-style: normal;
    color: colors.$neutral-10;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1px;
}

::ng-deep .mat-mdc-icon-button  {
    color: colors.$neutral-30;
}

:host {
    position: relative;
}

.mat-mdc-icon-button ::ng-deep .mat-mdc-button-persistent-ripple {
    display: none;
}

.auth__wrapper {
    padding: 2rem 1.5rem;
}

.close-button {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    z-index: 99;
    background: none;

    &:hover {
        transform: rotate(180deg);
    }
}