<mat-form-field appearance="fill" class="date__one-field">
    <mat-label>Date</mat-label>
    <input matInput
        [min]="minDate"
        [matDatepicker]="picker"
        [formControl]="selectDateOne"
        (dateChange)="onDateChange()"
        (blur)="onDateChange()"
        placeholder="Departure date">
    <mat-hint>{{ selectedValueDateFormat }}</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="selectDateOne.invalid">Please select dates / Invalid dates.
        <br>Date format should be {{ selectedValueDateFormat }}</mat-error>
</mat-form-field>
