<footer>
  <div class="footer__content">
    <div class="footer__content__contributers">
      <div class="contributors">
        <img src="../../../../assets/icons/madina_avatar.jpg" alt="contributer avatar">
        <div class="contributors__info">
          <h4><a href="https://github.com/madina1408" target="_blank">Madina Karimjonova</a> </h4>
          <!-- <p>Contributor</p> -->
        </div>
      </div>
      <div class="contributors">
        <img src="../../../../assets/icons/mila_avatar.jpg" alt="contributer avatar">
        <div class="contributors__info">
          <h4><a href="https://github.com/milana1726" target="_blank">Liudmyla Melnychuk</a> </h4>
          <!-- <p>Contributor</p> -->
        </div>
      </div>
    </div>
    <div class="footer__payment-methods">
      <p> We accept these payment methods </p>
      <div class="payment-methods__cards">
        <img src="../../../../assets/icons/mastercard_icon.svg" alt="mastercard icon">
        <img src="../../../../assets/icons/amazon_pay_icon.svg" alt="amazon pay icon">
        <img src="../../../../assets/icons/american_express_icon.svg" alt="american express icon">
        <img src="../../../../assets/icons/visa_icon.svg" alt="visa icon">
      </div>
    </div>
    <div class="footer__copyright">© 2023, AIRWAY. All rights reserved.</div>
  </div>
</footer>
