<header class="header" [class]="headerClass">
    <div class="header__container" *ngIf="{ isLoggedIn: authService.isLoggedIn() } as state">
        <img class="header__logo" src="../../../../assets/images/main_logo.png" alt="airways-logo" routerLink="">

        <app-progress-bar *ngIf="isShowProgressBar" class="stepper"></app-progress-bar>

        <div class="header__options">
            <p *ngIf="isShowBookFlights">Book flights</p>

            <button mat-button
                [matMenuTriggerFor]="dateSelect"
                class="header__date-format"
                [class]="headerClass"
            >{{ selectedDateFormat }} <mat-icon>arrow_drop_down</mat-icon></button>
            <mat-menu #dateSelect="matMenu" class="header__date-list">
                <button
                    class="header__date-selected"
                    (click)="onSelectDateFormat(option)"
                    *ngFor="let option of dateOptions"
                    mat-menu-item
                >{{ option.label }} <img
                    *ngIf="option.selected"
                    class="header__tick-icon" src="../../../../assets/icons/icon-select.svg" alt="tick-icon">
                </button>
            </mat-menu>

            <button mat-button
                [matMenuTriggerFor]="currencySelect"
                class="header__currency-format"
                [class]="headerClass"
                [ngClass]="state.isLoggedIn ? 'primary': '' "
            >{{ selectedCurrencyFormat }}</button>
            <mat-menu #currencySelect="matMenu" class="header__currency-list">
                <button
                    class="header__currency-selected"
                    (click)="onSelectCurrencyFormat(option)"
                    *ngFor="let option of currencyOptions"
                    [class.selected]="isCurrencySelected"
                    mat-menu-item
                >{{ option.label }}</button>
            </mat-menu>

            <button mat-button
                class="header__signin-btn"
                [class]="headerClass"
                (click)="openModalDialog()"
                *ngIf="!state.isLoggedIn">
                <img *ngIf="isMainPage" src="../../../../assets/icons/user_icon.svg" alt="user-icon">
                <img *ngIf="!isMainPage" src="../../../../assets/icons/user_icon_dark.svg" alt="user-icon">
                Sign in
            </button>

            <button mat-button
                [matMenuTriggerFor]="menuUser"
                class="header__signin-btn user"
                [class]="headerClass"
                *ngIf="state.isLoggedIn">
                <img src="../../../../assets/icons/user_icon_blue.svg" alt="user-icon">
                {{ userService.getCurrentUserName() }}
            </button>
            <mat-menu #menuUser="matMenu" class="header__user-menu">
                <button mat-menu-item>History of orders	<mat-icon color="primary">history</mat-icon></button>
                <button mat-menu-item (click)="onLogOut();">Log out <mat-icon color="primary">input</mat-icon></button>
            </mat-menu>


            <a class="header__cart-btn" matBadge="{{matBadgeNumber}}" matBadgeColor="warn">
                <img *ngIf="isMainPage && !state.isLoggedIn"
                    src="../../../../assets/icons/shopping_basket.svg"
                    alt="cart-icon"
                >
                <img *ngIf="!isMainPage && !state.isLoggedIn"
                    src="../../../../assets/icons/shopping_basket_dark.svg"
                    alt="cart-icon"
                    >
                <img *ngIf="(!isMainPage && state.isLoggedIn) || (isMainPage && state.isLoggedIn)"
                    src="../../../../assets/icons/shopping_basket_blue.svg"
                    alt="cart-icon"
                >
            </a>
        </div>
    </div>
</header>

