@use '../../../../styles/colors';

::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: colors.$green-blue;
}

::ng-deep .mat-step-header .mat-step-icon-state-done {
    background-color: colors.$green-blue;
}

::ng-deep .header__currency-list {
    min-width: unset !important;
    min-width: 4rem;
}

::ng-deep .header__date-list {
    width: 10.125rem;
    border-radius: 0 !important;

    .header__date-selected {
        display: flex;
        gap: 2rem;

        img {
            margin-left: 0.7rem;
        }
    }
}

::ng-deep .mat-stepper-horizontal-line {
    min-width: 5rem !important;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5.5rem;
    margin-bottom: 3rem;
    z-index: 99;
    transition: all 0.2s;

    .header__container {
        width: 85%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        .header__logo {
            margin-left: 0;
            height: 2.5rem;

            &:hover {
                cursor: pointer;
            }
        }

        .stepper {
            margin-top: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 2.25rem;
            margin-left: auto;
        }

        .header__options {
            margin-left: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 2.4rem;

            p {
                margin-right: 1.3rem;
                color: colors.$white;
            }

            .header__date-format {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                justify-content: center;
                font-size: 1rem;
                width: 10.125rem;
                height: 2.5rem;
                border-radius: 4px;
                padding-left: 1.2rem;

                &:hover {
                    cursor: pointer;
                }

                mat-icon {
                    margin-left: 0.5rem;
                    margin-right: auto;
                }

                .header__tick-icon {
                    width: 0.75rem;
                    height: 0.56rem;
                }
            }

            .header__currency-format {
                font-size: 1rem;
                width: 4rem;
                height: 2.5rem;
                border-radius: 4px;
                font-weight: 600;

                &:hover {
                    cursor: pointer;
                }
            }

            .primary {
                color: colors.$primary;
            }

            .header__signin-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1rem;
                padding: 1rem;
                width: max-content;
                height: 2.5rem;
                border-radius: 4px;
                font-weight: 600;

                &:hover {
                    cursor: pointer;
                }

                img {
                    margin-right: 0.6rem;
                }
            }

            .user {
                color: colors.$primary;
            }

            .header__cart-btn {
                width: 1.5rem;
                height: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                border-radius: none;
                background-color: transparent;
                text-decoration: none;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    &.main {
        background: rgba(116, 118, 122, 0.2);
        color: colors.$white;
    }

    &.booking {
        background-color: colors.$white;
        color: colors.$neutral-10;
    }

    &.shopping-cart {
        background-color: colors.$white;
        color: colors.$neutral-10;
    }

}

.header__date-format.main,
.header__currency-format.main,
.header__signin-btn.main  {
    border: 1px solid colors.$white;
    background: rgba(241, 243, 246, 0.15);
    color: inherit;
}

.header__date-format.booking,
.header__currency-format.booking,
.header__signin-btn.booking,
.header__date-format.shopping-cart,
.header__currency-format.shopping-cart,
.header__signin-btn.shopping-cart {
    border: 1px solid colors.$neutral-60;
    background: colors.$white;
    color: inherit;
}

.header__currency-format.selected {
    background-color: colors.$secondary-60;
    color: colors.$neutral-0;
}