<mat-button-toggle-group
    #groupGender
    name="gender"
    aria-label="Gender"
    [formControl]="genderControl"
    class="gender"
  >
    <mat-button-toggle
        class="gender-male__item"
        [value]="gender.male"
        checked
        (click)="onSelectGender(genderControl.value!)"
    >
        <img class="tick__icon" *ngIf="selectedGenderValue === 'Male'"
            src="../../../../assets/icons/icon-select.svg"
            alt="tick-icon"
        />Male
    </mat-button-toggle>
    <mat-button-toggle
        class="gender-female__item"
        [value]="gender.female"
        (click)="onSelectGender(genderControl.value!)"
    >
        <img class="tick__icon" *ngIf="selectedGenderValue === 'Female'"
            src="../../../../assets/icons/icon-select.svg"
            alt="tick-icon"
        />Female
    </mat-button-toggle>
</mat-button-toggle-group>

