@use '../../../../styles/colors';

.tick__icon {
    width: 0.75rem;
    height: 0.56rem;
    margin-top: -0.2rem;
    margin-right: 0.5rem;
}

.gender-male__item {
    border-right: 1px solid colors.$neutral-30;
    border: 4px 4px 0 0;
}

.gender-female__item {
    border-left: 1px solid colors.$neutral-30;
    border: 0 0 4px 4px;
}