<app-edit-flight-search [flightData]="flightData" [toDate]="isForwardSelected" [backDate]="isBackwardSelected" (callParentMethod)="updatePostRequestAfterSaveButtonClicked()"></app-edit-flight-search>
<div class="wrapper">
  <form *ngIf="isEditing" class="edit-flight-search">
    <app-departure-from></app-departure-from>
    <app-destination></app-destination>
    <app-date-one *ngIf="flightTypeValue === 'one-way'"></app-date-one>
    <app-date-round *ngIf="flightTypeValue === 'round-trip'"></app-date-round>
    <app-passengers></app-passengers>
  </form>
  <app-show-flight-options
    [flightData]="forwardFlightData"
    [isForward]="true"
    (isSelect)="markForwardFlightStatus($event)"
  ></app-show-flight-options>
  <app-show-flight-options
    *ngIf="backFlightData[0]!==undefined"
    [flightData]="backFlightData"
    [isForward]="false"
    (isSelect)="markBackwardFlightStatus($event)"
  ></app-show-flight-options>
  <div class="bottom-buttons">
    <button type="button" class="btn-back" [routerLink]="['']">Back</button>
    <button *ngIf="flightTypeValue === 'one-way'" type="button" class="btn-continue" [disabled]="isForwardSelected==''" (click)="continueToNextStep()">Continue</button>
    <button *ngIf="flightTypeValue === 'round-trip'" type="button" class="btn-continue" [disabled]="isBackwardSelected=='' || isForwardSelected==''" (click)="continueToNextStep()">Continue</button>
  </div>
</div>
