@use '../../../../styles/colors';

::ng-deep .mat-stepper-horizontal-line {
    min-width: 5rem !important;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: colors.$green-blue;
}

::ng-deep .mat-step-header .mat-step-icon-state-done {
    background-color: colors.$green-blue;
}

::ng-deep .mat-horizontal-stepper-header {
    pointer-events: none !important;
}

.stepper {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.25rem;
}