<mat-form-field appearance="fill" subscriptSizing="dynamic" class="departure__field" [ngClass]="{'booking': !isMainPage}">
    <mat-label>From</mat-label>
    <input #searchInput type="text"
           placeholder="Choose your departure from"
           aria-label="Departure"
           matInput
           [formControl]="departureControl"
           [matAutocomplete]="auto"
           (input)="filterOptions(searchInput.value)">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectedOption()">
      <mat-option *ngFor="let airportFrom of selectAirport"
        [value]="airportFrom.city + ' ' + airportFrom.key">
        <p class="city">{{ airportFrom.city }} <span class="city">({{ airportFrom.key }})</span></p>
        <p class="airport">{{ airportFrom.country }}, <span class="airport">{{ airportFrom.name }}</span></p>
      </mat-option>
    </mat-autocomplete>
    <mat-error>{{ getDepartureFromErrorMessage() }}</mat-error>
</mat-form-field>
