@use '../../../../styles/colors';
@use '../../../../styles/form-fields';

.departure__field {
    width: 33.25rem;

    &.booking {
        width: 15.94rem;

        mat-error {
            margin-bottom: -1.2rem;
        }
    }
}

.airport {
    color: colors.$neutral-30;
    font-size: 14px;
}