<!-- <app-user-account></app-user-account> -->
<div class="wrapper">
  <h1>Order History</h1>
  <div class="table-header">
    <div class="first-container">
      <div class="number">
        <p>No.</p>
        <img
          src="../../../../../assets/icons/Sorting_icon.svg"
          alt="sorting_icon"
        />
      </div>
      <div class="number">
        <p style="margin-left: 30px;">Flight</p>
        <img
          src="../../../../../assets/icons/Sorting_icon.svg"
          alt="sorting_icon"
        />
      </div>
    </div>
    <div class="first-container">
      <div class="number">
        <p>Trip type</p>
        <img
          src="../../../../../assets/icons/Sorting_icon.svg"
          alt="sorting_icon"
        />
      </div>
      <div class="number">
        <p>Date & Time</p>
        <img
          src="../../../../../assets/icons/Sorting_icon.svg"
          alt="sorting_icon"
        />
      </div>
    </div>
    <div class="first-container">
      <div class="number">
        <p>Passengers</p>
      </div>
      <div class="number">
        <p>Price</p>
        <img
          src="../../../../../assets/icons/Sorting_icon.svg"
          alt="sorting_icon"
        />
      </div>
    </div>
  </div>
  <div class="table-data">
    <section class="example-section">
      <span class="example-list-section"> </span>
      <span class="example-list-section">
        <ul>
          <li></li>
        </ul>
      </span>
    </section>
    <div class="buttons-container">
      <button class="btn-cart">Go to Cart</button>
      <button class="btn-main">Back to Search</button>
    </div>
  </div>
</div>
