<!-- <app-user-account></app-user-account> -->
<div class="wrapper">
  <h1>Cart</h1>
  <div class="table-header">
    <div class="first-container">
      <div class="number">
        <p>No.</p>
        <img
          src="../../../../../assets/icons/Sorting_icon.svg"
          alt="sorting_icon"
        />
      </div>
      <div class="number">
        <p style="margin-left: 30px;">Flight</p>
        <img
          src="../../../../../assets/icons/Sorting_icon.svg"
          alt="sorting_icon"
        />
      </div>
    </div>
    <div class="first-container">
      <div class="number">
        <p>Trip type</p>
        <img
          src="../../../../../assets/icons/Sorting_icon.svg"
          alt="sorting_icon"
        />
      </div>
      <div class="number">
        <p>Date & Time</p>
        <img
          src="../../../../../assets/icons/Sorting_icon.svg"
          alt="sorting_icon"
        />
      </div>
    </div>
    <div class="first-container">
      <div class="number">
        <p>Passengers</p>
      </div>
      <div class="number">
        <p>Price</p>
        <img
          src="../../../../../assets/icons/Sorting_icon.svg"
          alt="sorting_icon"
        />
      </div>
    </div>
  </div>
  <div class="table-data">
    <section class="example-section">
      <span class="example-list-section">
      </span>
      <span class="example-list-section">
        <ul>
          <li>
          </li>
        </ul>
      </span>
    </section>
    <div class="total-container">
      <button>+ Add new trip</button>
      <div class="total-price">
        <p>Total</p>
        <h5>€572.34</h5>
      </div>
    </div>
    <div class="buttons-container">
      <div class="promo">
        <p>Promo Code</p>
        <button>Apply</button>
      </div>
      <div class="selection">
        <p>2 selected</p>
        <button>Payment</button>
      </div>
    </div>
  </div>
</div>
