@use '../../../../colors';

.destination__field {
    width: 33.25rem;
    border-color: colors.$neutral-30;
    background-color: colors.$secondary-90;
}

.destination__field.booking {
    width: 15.94rem;
    border-color: colors.$neutral-30;
    background-color:colors.$secondary-90;
}

.airport {
    color: colors.$neutral-30;
    font-size: 14px;
}