<div class="wrapper">
  <div class="container">
    <div class="destination-info">
      <p>{{departureCity}}</p>
      <img
        src="../../../../assets/icons/swap_destination_icon.svg"
        alt="swap destination icon"
      />
      <p>{{destinationCity}}</p>
    </div>
    <div class="date-info">
      <p *ngIf="backDate">Return</p>
      <img
        *ngIf="backDate"
        src="../../../../assets/icons/blue_span_icon.svg"
        alt="blue span icon"
      />
      <p class="departure-date">
        {{forwardDate|date: 'MMM d' }} - {{backDate|date: 'MMM d' }}
      </p>
      <img
        *ngIf="backDate"
        src="../../../../assets/icons/blue_span_icon.svg"
        alt="blue span icon"
      />
      <p class="number-of-passengers">{{passengers}}</p>
      <img src="../../../../assets/icons/passenger_icon.svg" alt="user_icon" />
    </div>
    <div class="edit-buttons">
      <a *ngIf="!saveButtonStatus" (click)="editPostRequest()">Edit</a>
      <a *ngIf="saveButtonStatus" (click)="saveSearchResults()">Save</a>
      <a *ngIf="saveButtonStatus" (click)="cancelSearchresults()">Cancel</a>
    </div>
  </div>
</div>
