<div class="wrapper">
  <div class="container">
  <div class="destination-info">
    <p>Dublin</p>
    <img
      src="../../../../assets/icons/swap_destination_icon.svg"
      alt="swap destination icon"
    />
    <p>Warsaw Modin</p>
  </div>
  <div class="date-info">
    <p>Return</p>
    <img
      src="../../../../assets/icons/blue_span_icon.svg"
      alt="blue span icon"
    />
    <p class="departure-date">1 Mar - 18 Mar</p>
    <img
      src="../../../../assets/icons/blue_span_icon.svg"
      alt="blue span icon"
    />
    <p class="number-of-passengers">3</p>
    <img src="../../../../assets/icons/passenger_icon.svg" alt="user_icon" />
  </div>
  <a>Edit</a>
</div>
</div>


