@use './colors';

::ng-deep .mat-mdc-form-fieldn:not(.mat-form-field-invalid) .mat-mdc-form-field-subscript-wrapper {
    height: 0rem;
}

::ng-deep .mdc-text-field--filled {
    background-color: colors.$secondary-90 !important;
    border-radius: 4px;
    border: 1px solid colors.$neutral-60 !important;
}

::ng-deep .mdc-text-field--filled.mdc-text-field--invalid {
    border: 1px solid colors.$error-red !important;
}

::ng-deep .mdc-text-field--filled .mdc-line-ripple {
    display: none;
}


::ng-deep .mdc-text-field--filled.mdc-text-field--focused {
    background-color: colors.$secondary-90 !important;
    border: 0.1rem solid colors.$primary !important;
}

::ng-deep .mat-mdc-form-field-error,
::ng-deep .mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: colors.$error-red !important;
}

.icon-error {
    color: colors.$error-red;
}