@use './colors';

::ng-deep .mdc-tooltip__surface {
    background: colors.$white !important;
    color: colors.$neutral-0 !important;
    border-radius: 4px !important;
    border: 1px solid colors.$neutral-60 !important;
    padding: 1rem 1.5rem !important;;
    font-size: 1rem !important;
    line-height: 1rem !important;
    letter-spacing: 0.4px !important;
    text-align: left !important;
}