
@use "../../../../styles/colors";

::ng-deep .mat-mdc-dialog-content {
    max-height: max-content !important;
    position: relative !important;
}

::ng-deep .mat-mdc-tab.mdc-tab {
    border: 0.5px solid colors.$neutral-60;
    border-radius: 4px;
}

::ng-deep.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
    font-family: 'Roboto';
    font-style: normal;
    color: colors.$primary;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1px;
}

::ng-deep .mat-mdc-tab .mdc-tab__text-label {
    font-family: 'Roboto';
    font-style: normal;
    color: colors.$neutral-10;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1px;
}

::ng-deep .mat-mdc-icon-button  {
    color: colors.$neutral-30;
}

.mat-mdc-icon-button ::ng-deep .mat-mdc-button-persistent-ripple {
    display: none;
}

::ng-deep .mat-tab-body-content {
    overflow-y: hidden !important;
}

.auth__container {
    width: 100%;
    height: max-content;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
}

.close-button {
    position: absolute;
    top: -0.5rem;
    right: 0;
    z-index: 1001;
    background: none;

    &:hover {
        transform: rotate(180deg);
    }
}