
@use "../../../../styles/colors";

::ng-deep .mat-mdc-dialog-content {
    max-height: min-content !important;
}

::ng-deep .mat-mdc-tab-labels {
    border: 0.5px solid colors.$neutral-60 !important;
    border-radius: 4px;
}

::ng-deep .mat-mdc-tab .mdc-tab__text-label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 0.88rem;
    text-align: center;
    color: colors.$neutral-10;
}

::ng-deep .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
    color: colors.$primary;
}

::ng-deep .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active {
    background-color: colors.$secondary-90;
}

::ng-deep .mat-mdc-icon-button  {
    color: colors.$neutral-30;
}

.mat-mdc-icon-button ::ng-deep .mat-mdc-button-persistent-ripple {
    display: none;
}

::ng-deep .mat-tab-body-content {
    overflow-y: hidden !important;
}

::ng-deep .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active {
    border-right: 0.5px solid colors.$neutral-60 !important;
    border-left: 0.5px solid colors.$neutral-60 !important;
    border-bottom: 0.5px solid colors.$neutral-60 !important;
    border-radius: 4px;
}

::ng-deep .cdk-global-overlay-wrapper {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

::ng-deep .cdk-overlay-dark-backdrop {
    background: none !important;
}

.auth__container {
    width: 100%;
    height: max-content;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
}

.close-button {
    position: absolute;
    top: -0.5rem;
    right: 0;
    z-index: 1001;
    background: none;
}