<div class="signup__container">
    <form [formGroup]="signUpForm">
        <button class="auth__btn" mat-stroked-button>
            <img class="auth-btn-google__img" src="../../../../assets/icons/google_icon.svg" alt="google"/>
            Continue with Google
        </button>
        <button class="auth__btn" mat-stroked-button>
            <img class="auth-btn-facebook__img" src="../../../../assets/icons/facebook_icon.svg" alt="facebook"/>
            Continue with Facebook
        </button>
        <div class="message">
            <div class="message__line"></div>
            <p class="message__text">or log in with your email</p>
            <div class="message__line"></div>
        </div>

        <mat-form-field class="form__field" appearance="fill">
            <mat-label>Email</mat-label>
            <input
                matInput #inputEmail
                type="email"
                placeholder="e.g. example@email.com"
                formControlName="email"
                autocomplete="on"
            />
            <mat-error *ngIf="emailControl?.invalid">
                <span *ngIf="emailControl?.errors?.['required']">Please enter your email</span>
                <span *ngIf="emailControl?.errors?.['email']">The email is invalid</span>
            </mat-error>
        </mat-form-field>

         <mat-form-field class="form__field password" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput #inputPass
                [type]="hide ? 'password' : 'text'"
                type="password"
                placeholder="Enter a password"
                formControlName="password"
                maxlength="20"
                autocomplete="on"
            />
            <button class="icon__btn"
                type="button"
                mat-icon-button
                matSuffix
                [matTooltip]="toolTips.password"
                matTooltipPosition="right"
            >
                <mat-icon
                    *ngIf="passwordControl?.dirty && passwordControl?.valid || !passwordControl?.touched"
                >
                    error_outline
                </mat-icon>

                <mat-icon class="icon-error"
                    *ngIf="passwordControl?.touched && passwordControl?.errors"
                >
                    info
                </mat-icon>
            </button>
            <mat-error *ngIf="passwordControl?.errors">
                {{ getPasswordErrorMessage() }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form__field name" appearance="fill">
            <mat-label>FirstName</mat-label>
            <input
                matInput #inputFirstName
                type="text"
                placeholder="Enter your First Name"
                formControlName="firstName"
                autocomplete="on"
            />
            <button class="icon__btn"
                type="button"
                mat-icon-button
                matSuffix
                [matTooltip]="toolTips.name"
                matTooltipPosition="right"
            >
                <mat-icon
                    *ngIf="firstNameControl?.dirty && firstNameControl?.valid || !firstNameControl?.touched"
                >
                    error_outline
                </mat-icon>

                <mat-icon class="icon-error"
                    *ngIf="firstNameControl?.touched && firstNameControl?.errors"
                >
                    info
                </mat-icon>
            </button>
            <mat-error *ngIf="firstNameControl?.errors">
                {{ getFirstNameErrorMessage() }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form__field name" appearance="fill">
            <mat-label>LastName</mat-label>
            <input
                matInput #inputLastName
                type="text"
                placeholder="Enter your Last Name"
                formControlName="lastName"
                autocomplete="on"
            />
            <button class="icon__btn"
                type="button"
                mat-icon-button
                matSuffix
                [matTooltip]="toolTips.name"
                matTooltipPosition="right"
            >
                <mat-icon
                    *ngIf="lastNameControl?.dirty && lastNameControl?.valid || !lastNameControl?.touched"
                >
                    error_outline
                </mat-icon>

                <mat-icon class="icon-error"
                    *ngIf="lastNameControl?.touched && lastNameControl?.errors"
                >
                    info
                </mat-icon>
            </button>
            <mat-error *ngIf="lastNameControl?.errors">
                {{ getLastNameErrorMessage() }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form__field" appearance="fill">
            <mat-label>Date of birth</mat-label>
            <input matInput #dateBirth
                [matDatepicker]="picker"
                [max]="maxDate"
                placeholder="Select date of birth"
                formControlName="dateBirth"
                autocomplete="on"
            >
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="dateBirthControl?.invalid">Please select date of birth / Invalid date.
                <!-- <br>Date format should be {{ selectedValueDateFormat }} -->
            </mat-error>
        </mat-form-field>

        <button type="submit" class="submit__btn" mat-flat-button color="primary">Sign up</button>
    </form>
</div>
