<div class="signup__container">
    <form [formGroup]="signUpForm" (submit)="OnSubmitRegistration()">
        <button type="button" class="auth__btn" mat-stroked-button>
            <img class="auth-btn-google__img" src="../../../../assets/icons/google_icon.svg" alt="google"/>
            Continue with Google
        </button>
        <button type="button" class="auth__btn" mat-stroked-button>
            <img class="auth-btn-facebook__img" src="../../../../assets/icons/facebook_icon.svg" alt="facebook"/>
            Continue with Facebook
        </button>
        <div class="message">
            <div class="message__line"></div>
            <p class="message__text">or log in with your email</p>
            <div class="message__line"></div>
        </div>

        <app-email (emailValueChange)="OnEmailChange($event)"></app-email>

        <mat-form-field class="form__field password" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput #inputPass
                [type]="hide ? 'password' : 'text'"
                type="password"
                placeholder="Enter a password"
                formControlName="password"
                maxlength="20"
                autocomplete="off"
            />
            <button class="icon__btn"
                type="button"
                mat-icon-button
                matSuffix
                [matTooltip]="toolTips.password"
                matTooltipPosition="right"
            >
                <mat-icon
                    *ngIf="passwordControl?.dirty && passwordControl?.valid || !passwordControl?.touched"
                >
                    error_outline
                </mat-icon>

                <mat-icon class="icon-error"
                    *ngIf="passwordControl?.touched && passwordControl?.errors"
                >
                    info
                </mat-icon>
            </button>
            <mat-error *ngIf="passwordControl?.errors">
                {{ getPasswordErrorMessage() }}
            </mat-error>
        </mat-form-field>

        <app-first-name (firstNameValueChange)="OnFirstNameChange($event)"></app-first-name>

        <app-last-name (lastNameValueChange)="OnLastNameChange($event)"></app-last-name>

        <app-date-birth (dateBirthValueChange)="onDateBirthChange($event)"></app-date-birth>

        <app-gender (genderValueChange)="onGenderChange($event)"></app-gender>

        <div class="phone-number__container">
            <app-country-code (countryCodeValueChange)="onCountryCodeChange($event)"></app-country-code>
            <app-phone-number (phoneNumberValueChange)="onPhoneNumberChange($event)"></app-phone-number>
        </div>

        <mat-form-field class="form__field citizenship" appearance="fill">
            <mat-label>Citizenship</mat-label>
            <mat-select formControlName="citizenship" panelClass="citizenshipClass">
                <mat-option *ngFor="let citizenship of citizenshipList" [value]="citizenship.name">
                    {{ citizenship.name }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="citizenshipControl?.errors">Please select your citizenship</mat-error>
        </mat-form-field>

        <mat-checkbox
            class="checkbox__policy"
            color="primary"
            formControlName="policy"
            (change)="OnPolicyArgee()">
            <p>
                I agree to <a class="link" routerLink="">Airway's Privacy</a>
                Policy and <a class="link" routerLink="">Terms of Use</a>
            </p>
        </mat-checkbox>
        <mat-error class="policy__error" *ngIf="!isPolicyAgree">
            You must agree to the privacy policy and terms of use
        </mat-error>

        <button type="submit" class="submit__btn" mat-flat-button color="primary">Sign up</button>
    </form>
</div>
