@use '../../../../styles/colors';
@use '../../../../styles/form-fields';
@use '../../../../styles/matTooltip';


::ng-deep .citizenshipClass {
    height: 10rem !important;
}

.signup__container {
    margin-top: 2.25rem;

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .auth__btn {
                width: 100%;
                height: 3.5rem;
                background-color: colors.$secondary-90;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1rem;
                font-weight: 600;
                text-align: center;
                color: colors.$neutral-10;
                text-decoration: none;

                .auth-btn-google__img {
                    margin-right: 0.5rem;
                    width: 1.125rem;
                    height: 1.125rem;
                }

                .auth-btn-facebook__img {
                    margin-right: 0.5rem;
                    width: 1.3rem;
                    height: 1.125rem;
                }
        }

        .message {
            margin-top: 1rem;
            margin-bottom: 0.5rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 0.75rem;

            .message__line {
                margin: 0;
                width: 8.8rem;
                border-bottom: 1px solid colors.$secondary-50;
            }

            p {
                margin: 0;
                font-size: 0.75rem;
                line-height: 1rem;
                color: colors.$neutral-black;
                letter-spacing: 0.025rem;
            }
        }

        .password {
            margin-top: -1.2rem;
        }

        app-email,
        app-first-name,
        app-last-name,
        app-date-birth,
        app-gender {
            width: 100%;
        }

        app-gender,
        app-first-name,
        app-last-name {
            margin-top: -1.2rem;
        }

        .phone-number__container {
            margin-top: -0.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.3rem;

            app-country-code {
                margin-top: 0.35rem;
                width: 13.67rem;
            }

            app-phone-number {
                margin-top: 0.38rem;
                width: 13.67rem;
            }

        }

        .citizenship {
            width: 100%;
            margin-top: -1.2rem;
        }

        .checkbox__policy {
            width: 100%;
            margin-top: -1rem;
            margin-right: auto;

            p, a {
                font-weight: 600;
                text-align: left;
                font-size: 0.88rem;
                letter-spacing: 0;
            };

            a {
                color: colors.$primary;
                text-decoration: none;
            }
        }

        .submit__btn {
            width: 100%;
            height: 2.75rem;
            font-size: 1rem;
        }

        .policy__error {
            margin-top: -1.5rem;
        }
    }
}
