<!-- <app-user-account></app-user-account> -->
<div class="wrapper">
  <h1>Order History</h1>
  <div class="table-header">
    <div class="first-container">
      <div class="number">
        <p>No.</p>
        <img
          src="../../../../../assets/icons/Sorting_icon.svg"
          alt="sorting_icon"
        />
      </div>
      <div class="number">
        <p style="margin-left: 30px;">Flight</p>
        <img
          src="../../../../../assets/icons/Sorting_icon.svg"
          alt="sorting_icon"
        />
      </div>
    </div>
    <div class="first-container">
      <div class="number">
        <p>Trip type</p>
        <img
          src="../../../../../assets/icons/Sorting_icon.svg"
          alt="sorting_icon"
        />
      </div>
      <div class="number">
        <p>Date & Time</p>
        <img
          src="../../../../../assets/icons/Sorting_icon.svg"
          alt="sorting_icon"
        />
      </div>
    </div>
    <div class="first-container">
      <div class="number">
        <p>Passengers</p>
      </div>
      <div class="number">
        <p>Price</p>
        <img
          src="../../../../../assets/icons/Sorting_icon.svg"
          alt="sorting_icon"
        />
      </div>
    </div>
  </div>
  <div class="table-data">
    <section class="example-section">
      <span class="example-list-section"> </span>
      <span class="example-list-section">
        <ul>
          <li *ngFor="let item of anyTypedOrderedItems; let i = index">
            <div class="firstest" >
              <div class="first">
                <p class="fight-number" style="color: #0090bd;">
                  {{item[2].flightNumber}}
                </p>
                <div class="infos">
                  <p>{{item[2].form.city}} - {{item[2].to.city}}</p>
                  <p *ngIf="item[3].to!==undefined">{{item[3].form.city}} - {{item[3].to.city}}</p>
                </div>
              </div>
            </div>
            <div class="first">
              <p>Round Trip</p>
              <div class="infos">
                <p>{{item[2].takeoffDate|date:'d MMM, y, h:mm'}}</p>
                <p *ngIf="item[3].to!==undefined">{{item[3].landingDate|date:'d MMM, y, h:mm'}}</p>
              </div>
            </div>
            <div class="first" style="margin-left: 55px; gap: 40px;">
              <div class="infos">
                <p>{{item[0]}}</p>
              </div>
              <p class="price" style="color: #7f8906;">
                {{selecteCurrency}}{{+item[1]|number:'1.1-2'}}
              </p>
            </div>
          </li>
        </ul>
      </span>
    </section>
    <div class="buttons-container">
      <button class="btn-cart">Go to Cart</button>
      <button class="btn-main">Back to Search</button>
    </div>
  </div>
</div>
